#site-footer{
display=absolute;
width:100%;
height:483px;
}

#top-footer{
background:#1e1e1e; 
height:400px;
}

#bottom-footer{
background:#363636;
height:83px;
color:#a1b1bc;
}

#bottom-footer>a{
color:00bff3;
}

#bottom-footer > table > tbody > tr > td{
vertical-align:middle;
height:83px;
background:#363636;
padding:0;
}

#cpyrt{text-indent:120px;
}